<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

	<!-- Web.Debug.config -->
	<system.web>
		<compilation debug="true" targetFramework="4.7.2" xdt:Transform="SetAttributes" />
		<customErrors mode="Off" xdt:Transform="Replace" />
	</system.web>

	<connectionStrings>
		<add name="F24Team8ConnectionString"
			 connectionString="Data Source=mimas.itds.unt.edu;Initial Catalog=F24Team8;User ID=Team8;Password=F4720T8;Encrypt=False;TrustServerCertificate=False;"
			 providerName="System.Data.SqlClient"
			 xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
	</connectionStrings>

</configuration>
