<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="F24Team8ConnectionString3"
             connectionString="Data Source=mimas.itds.unt.edu;Initial Catalog=F24Team8;User ID=Team8;Password=F4720T8;"
             providerName="System.Data.SqlClient" />
		<add name="F24Team8ConnectionString"
             connectionString="Data Source=mimas.itds.unt.edu;Initial Catalog=F24Team8;User ID=Team8;Password=F4720T8;"
             providerName="System.Data.SqlClient" />
	</connectionStrings>

	<system.web>
		<compilation debug="true" targetFramework="4.7.2" />
		<customErrors mode="Off" />
	</system.web>
</configuration>
