<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<!-- Connection string for User Information -->
		<add name="F24Team8ConnectionStringUI"
			 connectionString="Data Source=mimas.itds.unt.edu;Initial Catalog=F24Team8;User ID=Team8;Password=F4720T8;"
			 providerName="System.Data.SqlClient" />

		<!-- Another connection string (if required) -->
		<add name="F24Team8ConnectionString2"
			 connectionString="Data Source=mimas.itds.unt.edu;Initial Catalog=F24Team8;User ID=Team8;Password=F4720T8;Encrypt=False;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

	<system.web>
		<compilation debug="true" targetFramework="4.7.2" />
		<customErrors mode="Off" />
	</system.web>
</configuration>
