<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<connectionStrings>
		<!-- Connection string for your database -->
		<add name="MyDatabaseConnection"
			 connectionString="Data Source=mimas.itds.unt.edu;Initial Catalog=F24Team8;User ID=Team8;Password=F4720T8;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

	<system.web>
		<!-- Specify the target framework -->
		<compilation debug="true" targetFramework="4.7.2" xdt:Transform="SetAttributes" />

		<!-- Custom error handling -->
		<customErrors mode="Off" xdt:Transform="Replace" />
	</system.web>
</configuration>
